<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RealmDamo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6BE259BD1EA8B3730041CAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BE259D61EA8B3730041CAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6BE259E11EA8B3730041CAC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
